@import "../style/general";

main {
  width: 100%;
  background-image: url("../images/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.svg-path {
  transform: translateY(4px);
  fill: $secondary-bg;
  z-index: 0;
}

.projects-heading {
  margin: 5em 0em;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  color: #3a416f;
  @include mQ(606px) {
    font-size: 1.5em;
    margin-top: 3.5em;
  }
}
