/* VARIABLES */
$primary-color: #5163ba;
$secondary-color: #5d6ebf;
$primary-bg: #1a1f35;
$secondary-bg: #20263d;
$primary-text: #0f3359;
$secondary-text: #b3b3b3;
$dark-color: #141414;
$light-color: #f4f4f4;

@mixin middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin button {
  border-radius: 3px;
  text-align: center;
}

@mixin mQ($args...) {
  @if length($args) == 1 {
    @media screen and (max-width: nth($args, 1)) {
      @content;
    }
  }
  @if length($args) == 2 {
    @media screen and (max-width: nth($args, 1)) and (min-width: nth($args, 2)) {
      @content;
    }
  }
}
